input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'] {
	padding: 0.5rem 1rem;
	width: 20%;
}

label {
	display: block;
}
