input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'] {
	height: 3rem;
	padding: 0 1rem;
	width: 20%;
}

label {
	display: block;
	width: 100%;
}
